body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.main {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #333;
}

.subtitle {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #555;
}

.stations_box {
    margin-bottom: 20px;
}

.stations_title {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin-bottom: 5px;
}

.stations_text {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    outline: none;
    text-align: center;
}

.time {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.start_box,
.end_box {
    width: 48%;
}

.start_title,
.end_title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
}

.start_text,
.end_text {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    outline: none;
    text-align: center;
}

.button_box {
    margin-top: 20px;
}

.button_text {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button_text:hover {
    background-color: #0056b3;
}

.button_text i {
    margin-right: 5px;
}